/********** Template CSS **********/

:root {
	--primary: #47b2e4;
	--secondary: #34ad54;
	--light: #eef9ff;
	--dark: #091e3e;
}
#logoimage {
	padding: 5px;
	margin: auto;
	height: 90px;
}

/*** Spinner ***/
.spinner {
	width: 40px;
	height: 40px;
	background: var(--primary);
	margin: 100px auto;
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}
.social-buttons a {
	background-color: var(--secondary);
	font-size: 18px;
}
@-webkit-keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px);
	}
	50% {
		-webkit-transform: perspective(120px) rotateY(180deg);
	}
	100% {
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}
}

@keyframes sk-rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

#spinner {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
	z-index: 99999;
}

#spinner.show {
	transition: opacity 0.5s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

/*** Heading ***/
h1,
h2,
.fw-bold {
	font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
	font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
	font-weight: 600 !important;
}

/*** Button ***/
.btn {
	font-family: "Nunito", sans-serif;
	font-weight: 600;
	transition: 0.5s;
}

.btn-primary,
.btn-secondary {
	color: #ffffff;
	box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
	box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
	box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
	width: 36px;
	height: 36px;
}

.btn-sm-square {
	width: 30px;
	height: 30px;
}

.btn-lg-square {
	width: 48px;
	height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
	/* font-family: "Nunito", sans-serif; */
	position: relative;
	margin-left: 25px;
	padding: 35px 0;
	color: #ffffff;
	/* font-size: 18px; */
	font-weight: 600;
	outline: none;
	transition: 0.5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
	padding: 20px 0;
	color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
	color: var(--primary);
}

.navbar-dark .navbar-brand h1 {
	color: #ffffff;
}

.navbar-dark .navbar-toggler {
	color: var(--primary) !important;
	border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
	.sticky-top.navbar-dark {
		position: relative;
		background: #ffffff;
	}

	.navbar-dark .navbar-nav .nav-link,
	.navbar-dark .navbar-nav .nav-link.show,
	.sticky-top.navbar-dark .navbar-nav .nav-link {
		padding: 10px 0;
		color: var(--dark);
	}

	.navbar-dark .navbar-brand h1 {
		color: var(--primary);
	}
}

@media (min-width: 992px) {
	.navbar-dark {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		border-bottom: 1px solid rgba(256, 256, 256, 0.1);
		z-index: 999;
	}

	.sticky-top.navbar-dark {
		position: fixed;
		background: #ffffff;
	}

	.navbar-dark .navbar-nav .nav-link::before {
		position: absolute;
		content: "";
		width: 0;
		height: 2px;
		bottom: -1px;
		left: 50%;
		background: var(--primary);
		transition: 0.5s;
	}

	.navbar-dark .navbar-nav .nav-link:hover::before,
	.navbar-dark .navbar-nav .nav-link.active::before {
		width: 100%;
		left: 0;
	}

	.navbar-dark .navbar-nav .nav-link.nav-contact::before {
		display: none;
	}

	.sticky-top.navbar-dark .navbar-brand h1 {
		color: var(--primary);
	}
}

/*** Carousel ***/
.carousel-caption {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(50, 68, 130, 0.7);
	z-index: 1;
}

@media (max-width: 576px) {
	.carousel-caption h5 {
		font-size: 14px;
		font-weight: 500 !important;
	}

	.carousel-caption h1 {
		font-size: 30px;
		font-weight: 600 !important;
	}
}

.carousel-control-prev,
.carousel-control-next {
	width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	width: 3rem;
	height: 3rem;
}

/*** Section Title ***/
.section-title::before {
	position: absolute;
	content: "";
	width: 150px;
	height: 5px;
	left: 0;
	bottom: 0;
	background: var(--primary);
	border-radius: 2px;
}

.section-title.text-center::before {
	left: 50%;
	margin-left: -75px;
}

.section-title.section-title-sm::before {
	width: 90px;
	height: 3px;
}

.section-title::after {
	position: absolute;
	content: "";
	width: 6px;
	height: 5px;
	bottom: 0px;
	background: #ffffff;
	-webkit-animation: section-title-run 5s infinite linear;
	animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
	width: 4px;
	height: 3px;
}

.section-title.text-center::after {
	-webkit-animation: section-title-run-center 5s infinite linear;
	animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
	-webkit-animation: section-title-run-sm 5s infinite linear;
	animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
	0% {
		left: 0;
	}
	50% {
		left: 145px;
	}
	100% {
		left: 0;
	}
}

@-webkit-keyframes section-title-run-center {
	0% {
		left: 50%;
		margin-left: -75px;
	}
	50% {
		left: 50%;
		margin-left: 45px;
	}
	100% {
		left: 50%;
		margin-left: -75px;
	}
}

@-webkit-keyframes section-title-run-sm {
	0% {
		left: 0;
	}
	50% {
		left: 85px;
	}
	100% {
		left: 0;
	}
}

/*** Service ***/
.service-item {
	position: relative;
	height: 300px;
	padding: 0 30px;
	transition: 0.5s;
}

.service-item .service-icon {
	margin-bottom: 30px;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--primary);
	border-radius: 2px;
	transform: rotate(-45deg);
}

.service-item .service-icon i {
	transform: rotate(45deg);
}

.service-item a.btn {
	position: absolute;
	width: 60px;
	bottom: -48px;
	left: 50%;
	margin-left: -30px;
	opacity: 0;
}

.service-item:hover a.btn {
	bottom: -24px;
	opacity: 1;
}

/*** Testimonial ***/
.testimonial-carousel .owl-dots {
	margin-top: 15px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.testimonial-carousel .owl-dot {
	position: relative;
	display: inline-block;
	margin: 0 5px;
	width: 15px;
	height: 15px;
	background: #dddddd;
	border-radius: 2px;
	transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
	width: 30px;
	background: var(--primary);
}

.testimonial-carousel .owl-item.center {
	position: relative;
	z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
	transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
	background: #ffffff !important;
	box-shadow: 0 0 30px #dddddd;
}

/*** Team ***/
.team-item {
	transition: 0.5s;
}

.team-social {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
}

.team-social a.btn {
	position: relative;
	margin: 0 3px;
	margin-top: 100px;
	opacity: 0;
}

.team-item:hover {
	box-shadow: 0 0 30px #dddddd;
}

.team-item:hover .team-social {
	background: rgba(9, 30, 62, 0.7);
}

.team-item:hover .team-social a.btn:first-child {
	opacity: 1;
	margin-top: 0;
	transition: 0.3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
	opacity: 1;
	margin-top: 0;
	transition: 0.3s 0.05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
	opacity: 1;
	margin-top: 0;
	transition: 0.3s 0.1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
	opacity: 1;
	margin-top: 0;
	transition: 0.3s 0.15s;
}

.team-item .team-img img,
.blog-item .blog-img img {
	transition: 0.5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
	transform: scale(1.15);
}

/*** Miscellaneous ***/
@media (min-width: 991.98px) {
	.facts {
		position: relative;
		margin-top: -75px;
		z-index: 1;
	}
}

.back-to-top {
	position: fixed;
	display: none;
	right: 45px;
	bottom: 45px;
	z-index: 99;
}

.link-animated a {
	transition: 0.5s;
}

.link-animated a:hover {
	padding-left: 10px;
}

@media (min-width: 767.98px) {
	.footer-about {
		margin-bottom: -75px;
	}
}

/* ----------------------------------------career-page css-----------------
-------------------------------------------------------------------------- */
.lnr-heart:before {
	content: "";
}
.popular-post-area .owl-dots {
	text-align: center;
	bottom: 5px;
	margin-top: 20px;
	width: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.popular-post-area .owl-dot {
	height: 10px;
	width: 10px;
	display: inline-block;
	background: rgba(127, 127, 127, 0.5);
	margin-left: 5px;
	margin-right: 5px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.popular-post-area .owl-dot.active {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	background: #49e4fa;
}

@media (max-width: 960px) {
	.post-list {
		margin-bottom: 50px;
	}
}

.single-popular-post {
	background-color: #222;
	padding: 20px;
}

.single-popular-post .details {
	margin-left: 40px;
}

.single-popular-post .details p {
	margin-bottom: 0;
}

.single-popular-post h4 {
	color: #fff;
}

.single-popular-post h6 {
	padding: 10px 0;
	color: #49e4fa;
}

.single-popular-post .thumb {
	display: inline-block;
}

.single-popular-post .thumb img {
	margin-top: 10px;
	margin-left: 5px;
}

.single-popular-post .btns {
	background-color: #49e4fa;
	color: #fff;
	font-size: 12px;
	position: absolute;
	bottom: 22px;
	font-weight: 400;
	padding: 9px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.single-popular-post .btns:hover {
	background-color: #1e2235;
	color: #49e4fa;
}

.features-area {
	margin-top: -65px;
}

.single-feature {
	text-align: center;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0px 0px 40px 0px rgba(132, 144, 255, 0.2);
	padding: 25px 0;
}

.single-feature p {
	margin-bottom: 0;
}

.single-feature h4 {
	padding-bottom: 15px;
}

@media (max-width: 960px) {
	.single-feature {
		margin-bottom: 30px;
	}
}

.single-fcat {
	text-align: center;
	border-radius: 3px;
	background-color: white;
	box-shadow: 0px 0px 40px 0px rgba(132, 144, 255, 0.2);
	padding: 20px 0;
	border: 1px solid transparent;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.single-fcat p {
	margin-top: 15px;
	margin-bottom: 0;
	color: #222;
}

.single-fcat:hover {
	border: 1px solid #49e4fa;
}

@media (max-width: 960px) {
	.single-fcat {
		margin-bottom: 30px;
	}
}

.post-list .cat-list {
	text-align: right;
	margin-bottom: 20px;
}

.post-list .cat-list li {
	text-align: center;
	margin-right: 10px;
	width: 100px;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #eee;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	padding: 5px 10px;
}

.post-list .cat-list li a {
	text-transform: uppercase;
	font-weight: 600;
	color: #222;
}

.post-list .cat-list li:hover {
	background-color: #49e4fa;
}

.post-list .cat-list li:hover a {
	color: #fff;
}

@media (max-width: 414px) {
	.post-list .cat-list {
		text-align: left;
	}
	.post-list .cat-list li {
		margin-bottom: 10px;
		font-size: 10px;
	}
}

.post-list .single-post {
	padding: 30px;
	background-color: #fafdff;
	margin-bottom: 30px;
}

.post-list .single-post h6 {
	margin-top: 10px;
	color: #222;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 15px;
}

@media (max-width: 414px) {
	.post-list .single-post h6 {
		font-size: 10px;
	}
}

.post-list .single-post h5 {
	color: #222;
	font-weight: 300;
	margin-bottom: 15px;
}

.post-list .single-post .address {
	color: #222;
	margin-bottom: 15px;
}

.post-list .single-post .btns li {
	display: inline-block;
	background-color: #fff;
	border: 1px solid #eee;
	padding: 10px 15px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.post-list .single-post .btns li i,
.post-list .single-post .btns li a {
	text-transform: uppercase;
	font-weight: 500;
	color: #222;
}

.post-list .single-post .btns li:hover {
	background-color: var(--primary);
}

.post-list .single-post .btns li:hover a,
.post-list .single-post .btns li:hover i {
	color: #fff;
}

@media (max-width: 414px) {
	.post-list .single-post .btns li {
		margin-bottom: 5px;
	}
}
.post-area ul {
	list-style: none !important;
	padding-left: 0;
}
.post-list .single-post .thumb .tags {
	margin-top: 30px;
}
.tags {
	padding-left: 0 !important;
}
.post-list .single-post .thumb .tags li {
	margin-bottom: 5px;
	display: inline-block;
	background: #fff;
	border: 1px solid #eee;
	padding: 6px 15px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.post-list .single-post .thumb .tags li a {
	color: #777777;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.post-list .single-post .thumb .tags li:hover {
	background-color: var(--primary);
}

.post-list .single-post .thumb .tags li:hover a {
	color: #fff;
}

@media (max-width: 736px) {
	.post-list h4 {
		font-size: 16px;
	}
	.post-list .btns a {
		font-size: 10px;
	}
}

@media (max-width: 414px) {
	.post-list .single-post.flex-row {
		flex-direction: column !important;
		display: inline-block !important;
	}
	.post-list .title.flex-row {
		flex-direction: column !important;
		display: inline-block !important;
	}
	.post-list .details {
		margin-top: 30px;
	}
}

.post-list .loadmore-btn {
	text-align: center;
	background-color: #49e4fa;
	color: #fff;
	padding: 8px 15px;
	margin-top: 60px;
	max-width: 200px;
}

/* .sidebar .owl-carousel .owl-item img {
  width: auto !important;
} */

.sidebar .owl-dots {
	text-align: center;
	bottom: 5px;
	margin-top: 20px;
	width: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.sidebar .owl-dot {
	height: 10px;
	width: 10px;
	display: inline-block;
	background: rgba(127, 127, 127, 0.5);
	margin-left: 5px;
	margin-right: 5px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.sidebar .owl-dot.active {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	background: #49e4fa;
}

.sidebar .single-slidebar {
	background-color: #fafdff;
	padding: 30px 20px;
	margin-bottom: 30px;
}

.sidebar .single-slidebar h4 {
	margin-bottom: 20px;
}

.sidebar .single-slidebar .cat-list li {
	padding: 0px 10px;
	background-color: #fff;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.sidebar .single-slidebar .cat-list li:hover a {
	color: #fff;
	background-color: var(--primary);
}

.sidebar .single-slidebar .cat-list p {
	margin-bottom: 0;
}

.sidebar .single-slidebar .cat-list a {
	color: #777;
	padding: 10px;
	margin-bottom: 10px;
}

.sidebar .single-rated img {
	margin-bottom: 20px;
}

.sidebar .single-rated h4 {
	margin-bottom: 8px;
}

.sidebar .single-rated h6 {
	font-weight: 300;
	margin-bottom: 10px;
}

.sidebar .single-rated h5 {
	font-weight: 300;
	margin-bottom: 5px;
}

.sidebar .single-rated .address {
	color: #222;
	margin-bottom: 8px;
}

.sidebar .single-rated .btns {
	background-color: #49e4fa;
	color: #fff;
	border: 1px solid transparent;
	display: inline-block;
	margin-top: 10px;
	padding: 10px 25px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.sidebar .single-rated .btns:hover {
	background-color: transparent;
	border-color: #49e4fa;
	color: #49e4fa;
}

.sidebar .single-blog {
	background-size: cover !important;
	padding: 0px 20px;
	margin-bottom: 30px;
}

.sidebar .single-blog:last-child {
	margin-bottom: 0px;
}

.sidebar .single-blog h4 {
	color: #fff;
	padding-top: 20px;
}

.sidebar .single-blog .meta p {
	color: #fff;
}

/* ------------------Gallery Css-----------------------------------
------------------------------------------------------------------- */
/* IMAGE GRID STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image-grid figure {
	margin-bottom: 0;
}

.image-grid img {
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
	transition: box-shadow 0.2s;
}

.image-grid a:hover img {
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35);
}

/* LIGHTBOX STYLES */
.lightbox-modal .modal-content {
	background: var(--lightbox);
}

.lightbox-modal .btn-close {
	position: absolute;
	top: 20px;
	right: 18px;
	font-size: 1.2rem;
	z-index: 10;
}

.lightbox-modal .modal-body {
	display: flex;
	align-items: center;
	padding: 0;
	text-align: center;
}

.lightbox-modal img {
	width: auto;
	max-height: 100vh;
	max-width: 100%;
}

.lightbox-modal .carousel-caption {
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(36, 36, 36, 0.75);
}

.lightbox-modal .carousel-control-prev,
.lightbox-modal .carousel-control-next {
	top: 50%;
	bottom: auto;
	transform: translateY(-50%);
	width: auto;
}

.lightbox-modal .carousel-control-prev {
	left: 10px;
}

.lightbox-modal .carousel-control-next {
	right: 10px;
}

#logout {
	display: inline-block;
	padding: 10px 20px;
	border: 2px solid red;
	border-radius: 5px;
	background-color: white;
	color: red;
	font-size: 16px;
	cursor: pointer;
}

#logout:hover {
	background-color: rgb(24, 17, 219);
	color: white;
}
